#getcourse.modal.fade{"tabindex" => "-1", "role" => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-label" => "Close" }
          %span{ "aria-hidden" => "true" } &times;
        %h3 Contrata un Curso
      .modal-body
        - flash.each do |key, value|
          %h3.information
            = value
        = form_for @contact do |f|
          .form-group
            = f.label :target, 'Cantidad de Clases', class: 'control-label'
            = f.collection_select :lessons, @lessons, :id, :lesson_info, {include_blank: true}
          .form-group
            = f.label :target, 'Nombre', class: 'control-label'
            = f.text_field :name, :required => true, class: 'form-control', placeholder: 'Nombre *'
            = f.hidden_field :course, :required => true, class: 'form-control', value: @course.try(:title)
            
          .form-group
            = f.label :target, 'E-Mail', class: 'control-label'
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-Mail *'
          .form-group
            = f.label :target, 'Comentarios', class: 'control-label'
            = f.text_area(:message, rows: 10, class: 'form-control', placeholder: 'Comentarios *')
          .form-group.no-margin
            = f.submit "Contratar", class: 'btn btn-success'
:javascript
  $(function() {
    $('#contact_name').select2({
      theme: "bootstrap",
      placeholder: 'Seleccionar cantidad de clases'
    });
  });
