/ Header
%header#video
  .container
    .col-md-12
      = image_tag('biglogo.png')
%section.bg-light
  .container
    .row
      %h2.section-subheading.text-italic.text-center
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque urna eget eros consequat placerat. Nulla facilisis orci sit amet metus dapibus, vel congue felis aliquet. Curabitur a ligula id diam eleifend maximus. Duis rhoncus rhoncus erat et tempus. Pellentesque nec convallis risus. Fusce orci mi, viverra quis tortor a, bibendum venenatis magna. Phasellus eu vestibulum felis. 
    .row
%section.bg-pattern.bg-white
  .container
    .row
      %h1.section-heading
        Cursos
      %h3.section-subheading
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque urna eget eros consequat placerat. Nulla facilisis orci sit amet metus dapibus, vel congue felis aliquet. Curabitur a ligula id diam eleifend maximus. Duis rhoncus rhoncus erat et tempus. Pellentesque nec convallis risus. Fusce orci mi, viverra quis tortor a, bibendum venenatis magna. Phasellus eu vestibulum felis. 
    .row
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        - @courses.each_with_index do |course, index|
          .panel.panel-default
            .panel-heading{:role => "tab", :id => "heading#{index}"}
              %h4.panel-title
                .row
                  .col-xs-12.col-sm-8.col-md-8
                    %a{"aria-controls" => "collapse#{index}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{index}", :role => "button"}
                      #{course.title}
                      %span
                        Por #{course.professor.name}
                  .col-xs-12.col-sm-4.col-md-4
                    = link_to('#', class: 'panel-toggle pull-right', "aria-controls" => "collapse#{index}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{index}", :role => "button") do
                      = icon('caret-down')
                    .professor-accessibility.pull-right
                      - unless course.professor.has_car == 'No'
                        = link_to('#', "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "A Domicilio") do
                          = icon('car')
                      - unless course.professor.has_location == 'No'
                        = link_to('#', "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Con Locación") do
                          = icon('home')
                    - unless course.professor.province == nil
                      .professor-city.pull-right
                        %p
                          #{course.professor.province}
                
            .panel-collapse.collapse{"aria-labelledby" => "heading#{index}", :role => "tabpanel", :id => "collapse#{index}"}
              = image_tag(course.picture.url(:high), class: 'img-responsive')
              .panel-body
                .row
                  .col-md-12
                    #{course.description}
                .row
                  .col-md-12
                    = link_to "Contratar", "#getcourse", "data-toggle" => "modal", :class => 'btn btn-lg btn-default'
                    - unless course.google_link == nil
                      = link_to('Google Docs', course.google_link, class: 'btn btn-lg btn-default')
                .row
                  .col-md-12
                    %hr
                .row
                  .col-md-6
                    .row.professor
                      .col-md-3
                        = image_tag(course.professor.picture.url(:small), class: 'img-responsive img-rounded')
                      .col-md-9
                        .row
                          .col-md-12
                            %h4
                              #{course.professor.name}
                        .row
                          .col-md-12
                            %p
                              #{course.professor.bio}
                  .col-md-6
                    .row.professor
                      .col-md-12
                        %h4
                          Provincia:
                          #{course.professor.province}
                        %h4
                          Localidad:
                          #{course.professor.city}
                        %h4
                          Area de accion:
                        %p
                          #{course.professor.coverage}
%section#about.bg-dark-grey.bg-pattern
  .container
    .row
      .col-md-8.col-md-offset-2
        %p
          Mutual nace como una nueva forma de pensar la educación musical, ubicándose de manera equidistante respecto de los alumnos como de los docentes, buscando neutralizar las deficiencias de la enseñanza privada para quien enseña como para quien aprende. Fundada por dos DJs y productores de música electrónica con vasta experiencia en el campo docente, Mutual sale al mercado con el objetivo de unir la demanda de aprendizaje con la oferta de enseñanza de manera inteligente y efectiva.

%aside.clients.bg-white
  .container
    .row
      .col-md-3.col-sm-6
        = link_to('#') do
          = image_tag('sponsor01.jpg', class: 'img-responsive')
      .col-md-3.col-sm-6
        = link_to('#') do
          = image_tag('sponsor02.jpg', class: 'img-responsive')
      .col-md-3.col-sm-6
        = link_to('#') do
          = image_tag('sponsor03.jpg', class: 'img-responsive')
      .col-md-3.col-sm-6
        = link_to('#') do
          = image_tag('sponsor04.jpg', class: 'img-responsive')

%section#contact.bg-light
  .container
    .row
      .col-md-10.col-md-offset-1
        .row
          .col-md-12
            %h1.section-heading
              Contacto
        .row
          .col-md-6
            %form#contactForm{:name => "sentMessage", :novalidate => ""}
              .row
                .col-md-12
                  .form-group
                    %input#name.form-control{"data-validation-required-message" => "Por favor, ingrese su nombre.", :placeholder => "Nombre *", :required => "", :type => "text"}/
                    %p.help-block.text-danger
                  .form-group
                    %input#email.form-control{"data-validation-required-message" => "Por favor, ingrese su email.", :placeholder => "Email *", :required => "", :type => "email"}/
                    %p.help-block.text-danger
                  .form-group
                    %textarea#message.form-control{"data-validation-required-message" => "Por favor, ingrese su mensaje.", :placeholder => "Mensaje *", :required => ""}
                    %p.help-block.text-danger
              .row  
                .col-lg-12
                  #success
                  %button.btn.btn-lg.btn-default{:type => "submit"} Enviar Mensaje
          .col-md-6
            .row
              .col-md-12
                %h3.text-muted.text-left
                  Tenes alguna duda?
                  %br
                  %span
                    Nos encantaria saber de vos.
                    %br/
                %h3.text-left
                  Llamanos al 45455656
                  %br/
                  info@escuelamutual.com
                  %br/
                  %br/
                  Podés encontrarnos en:
            .row
              .col-md-12
                %ul.list-inline.social-buttons
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-instagram
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-youtube
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-soundcloud
             
%footer
  .container
    .row
      .col-md-12.text-center
        %span.copyright MUTUAL 2016

