/ Header
%header#video
  .vertical-center
    .container
      .col-md-12
        .row
          = image_tag('biglogo.png')
        .row  
          = link_to "Ver Cursos", "#courses", :class => 'btn btn-lg btn-default'
%section.bg-dark-grey
  .container.revealonscroll
    .row
      .col-md-8.col-md-offset-2
        %h2.section-subheading.text-center
          Somos Mutual
        .line
        %h3.section-subheading.text-center
          Mutual nace como una nueva forma de pensar la educación musical, ubicándose de manera equidistante respecto de los alumnos como de los docentes, buscando neutralizar las deficiencias de la enseñanza privada para quien enseña como para quien aprende. Fundada por dos DJs y productores de música electrónica con vasta experiencia en el campo docente, Mutual sale al mercado con el objetivo de unir la demanda de aprendizaje con la oferta de enseñanza de manera inteligente y efectiva.
    .row
%section#courses.bg-pattern.bg-white
  .container.revealonscroll
    .row
      .col-md-8.col-md-offset-2
        %h1.section-heading
          Cursos
        %h3.section-subheading
          Las clases se dictan de forma individual, a domicilio o en la locación del docente, según se indique en la información del curso. Se pueden contratar de forma única (una clase), dos, cuatro, ocho o dieciséis clases. Mutual aplica un descuento progresivo por cantidad de clases contratadas. La labor docente es sometida a rigurosos controles de calidad, basados en un breve cuestionario que responde el alumno.
    .row
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        - @courses.each_with_index do |course, index|
          .panel.panel-default
            .panel-heading{:role => "tab", :id => "heading#{index}"}
              %h4.panel-title
                .row
                  .col-xs-12.col-sm-8.col-md-8
                    = link_to(course_path(course)) do
                      #{course.title}
                      %span
                        Por #{course.professor.name}
                  .col-xs-12.col-sm-4.col-md-4
                    .professor-accessibility.pull-right
                      - unless course.professor.has_car == 'No'
                        = link_to('#', "data-toggle" => "tooltip", "data-placement" => "top", "title" => "A Domicilio") do
                          = icon('car')
                      - unless course.professor.has_location == 'No'
                        = link_to('#', "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Con Locación") do
                          = icon('home')
                    - unless course.professor.province == nil
                      .professor-city.pull-right
                        %p
                          #{course.professor.province}
                
            .panel-collapse.collapse{"aria-labelledby" => "heading#{index}", :role => "tabpanel", :id => "collapse#{index}"}
              .course-img{:style => "background-image: url(#{course.picture.url(:high)})"}
              .panel-body
                .row
                  .col-md-12.course-description
                    #{simple_format(course.description)}
                .row
                  .col-md-12
                    = link_to "Contratar", "#getcourse", "data-toggle" => "modal", :class => 'btn btn-lg btn-default'
                .row
                  .col-md-12
                    %hr
                .row
                  .col-md-6
                    .row.professor
                      .col-md-3
                        = image_tag(course.professor.picture.url(:small), class: 'img-responsive img-rounded')
                      .col-md-9
                        .row
                          .col-md-12
                            %h4
                              #{course.professor.name}
                        .row
                          .col-md-12
                            %p
                              #{course.professor.bio}
                  .col-md-6
                    .row.professor
                      .col-md-12
                        %h4
                          Provincia:
                        %p
                          #{course.professor.province}
                        %h4
                          Localidad:
                        %p
                          #{course.professor.city}
                        - unless course.professor.has_car == 'No'
                          %h4
                            Area de accion:
                          %p
                            #{course.professor.coverage}
