!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%title
				Mutual
			= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			= yield(:head)

	%body{:class => "#{controller_name} #{action_name}"}
		= render 'shared/getcourse'
		%nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header.page-scroll
					%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
						%span.sr-only
							Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar

					= link_to(root_path, class: 'navbar-brand page-scroll') do
						= image_tag('logo.png')

				.collapse.navbar-collapse#bs-example-navbar-collapse-1
					%ul.nav.navbar-nav.col-md-8
						%li
							%a.page-scroll(href="#")
								Home
						%li
							%a.page-scroll(href="#")
								Cursos
						%li
							%a.page-scroll(href="#")
								Mutual
						%li
							%a.page-scroll(href="#")
								Contacto
					%ul.nav.navbar-right
						%li
							= link_to "¿Querés Enseñar?", "#teach", "data-toggle" => "modal", :class => 'btn btn-lg btn-primary'
						%li
							%a{:href => "https://www.linkedin.com/company/10799059"}
								%i.fa.fa-linkedin
						%li
							%a{:href => "https://www.facebook.com/Mutual-1463358433988348"}
								%i.fa.fa-facebook
						%li
							%a{:href => "https:twitter.com/escuelamutual"}
								%i.fa.fa-twitter
						%li
							%a{:href => "https:twitter.com/escuelamutual"}
								%i.fa.fa-instagram
		= yield
